.root {
  display: flex;
  flex-direction: column;

  .input {
    outline: none;

    border-style: solid;
    border-color: #d0d0d0;

    padding: 7.5px 10px;

    transition: all .15s ease-in;

    &::placeholder {
      color: #828282;
    }

    &:focus {
      border-color: dodgerBlue;
      
      box-shadow:0 0 3px 0 dodgerBlue;
    }

    @for $i from 0 to 3 {
      &--stroke-#{$i} {
        border-width: #{$i}px;
      }
    }

    @for $i from 0 to 3 {
      &--rounding-#{$i} {
        border-radius: calc(#{$i} * 3px);
      }
    }
  }
}
