@import '../../../../scss/variables.scss';

.root {
  display: flex;
  flex-direction: column;

  .field {
    position: relative;
  }

  .input {
    outline: none;

    width: 100%;
    height: 100%;

    border-style: solid;
    border-color: #d0d0d0;

    padding: 7.5px 10px;

    transition: all .15s ease-in;

    &::placeholder {
      color: #828282;
    }

    &--focus-effect {
      &:focus {
        border-color: lighten(map-get($COLORS, 'dark'), 25%);

        box-shadow: 0 0 3px 0  lighten(map-get($COLORS, 'dark'), 25%);
      }
    }

    &--password {
      padding-right: 40px;
    }

    &--valid {
      border-color: map-get($COLORS, 'success');
    }

    &--invalid {
      border-color: map-get($COLORS, 'danger');
    }

    @for $i from 0 to 3 {
      &--stroke-#{$i} {
        border-width: #{$i}px;
      }
    }

    @for $i from 0 to 3 {
      &--rounding-#{$i} {
        border-radius: calc(#{$i} * 3px);
      }
    }
  }

  .toggler {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    top: 0;
    right: 0;

    border: none;

    background: none;

    width: 40px;
    height: 100%;

    cursor: pointer;
  }

  .error {
    font-size: 12px;
    font-weight: 500;

    margin-top: 3px;

    color: map-get($COLORS, 'danger');
  }
}
