.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-width: 300px;

  .logo {
    width: 60px;

    margin-bottom: 40px;
  }

  .form {
    display: flex;
    flex-direction: column;

    width: 100%;

    .field {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}
