@import '../../../../scss/variables.scss';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  .logo {
    margin-bottom: 40px;
  }

  .form {
    display: flex;
    flex-direction: column;

    width: 100%;

    .field {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    .hint {
      margin-top: 10px;

      a {
        color: map-get($COLORS, 'info');
      }
    }
  }
}
