.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    line-height: 1;

    margin-bottom: 20px;

    h1 {
      margin: 0;

      flex: 0 auto;

      font-size: 24px;
      font-weight: 500;
    }

    .add-column {
      margin-left: 20px;
    }

    .delete {
      margin-left: 20px;
    }

    .settings {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;

      cursor: pointer;

      margin-left: auto;

      color: lighten(#000, 20%);

      transition-duration: .3s;
      transition-property: color;

      &:hover {
        color: #000;

        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        width: 20px;
        height: 20px;

        transition-duration: .5s;
        transition-property: transform;
      }
    }
  }


  .columns {
    flex: 1;
    display: flex;
    flex-direction: row;

    overflow-x: auto;

    height: calc(100% - 55px);

    padding: 20px;

    margin: 0 -20px;

    & > div {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
