@import '../../../../scss/variables.scss';

.root {
  width: 275px;
  height: 100%;

  border-radius: 5px;

  overflow: hidden;

  box-shadow: 0 0 5px rgba(#000, .5);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 40px;

    color: #fff;

    > span {
      padding: 10px;
    }

    .settings {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      cursor: pointer;

      transition-duration: .3s;
      transition-property: background-color;

      &:hover {
        background-color: lighten(map-get($COLORS, 'dark'), 10%);
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 10px;

    background-color: #fff;

    > div {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
