.root {
  width: max-content;

  .trigger {
    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 50%;
  }

  .dropdown {
    padding: 0;

    * {
      box-sizing: content-box;
    }
  }
}
