.backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;

  width: 100%;
  height: 100%;

  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0000007e;

  transition: opacity .3s ease-in-out;
}

.root {
  width: 100%;
  max-width: 320px;
  min-width: 320px;

  border-radius: 5px;

  overflow: hidden;

  .header {
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f1f1f1;

    border-bottom: 1px solid #e2e2e2;

    .heading {
      font-size: 16px;
      font-weight: 500;
    }

    .close {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .body {
    padding: 10px;

    background-color: #fff;
  }
}
