.root {
  .form {
    display: flex;
    flex-direction: column;

    width: 100%;

    .field {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &--row {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &--color {
        line-height: 1;

        span {
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;

          margin-right: 10px;
        }
      }
    }
  }
}
