@import '../../../../scss/variables.scss';

.root {
  display: grid;
  grid-template-rows: 50px calc(100vh - 50px);

  width: 100vw;
  height: 100vh;

  main {
    display: grid;
    grid-template-columns: 250px 1fr;

    background-color: #f4f5f7;

    @media screen and (max-width: map-get($SCREENS, 'lg')) {
      grid-template-columns: 0px 1fr;
    }

    .content {
      padding: 20px;

      overflow: auto;

      max-height: 100%;

      position: relative;

      @media screen and (min-width: map-get($SCREENS, 'lg')) {
        &::-webkit-scrollbar {
          width: 7.5px;
          height: 10px;

          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;

          background-color: map-get($COLORS, 'dark');
        }
      }
    }
  }
}

