@import '../../../../scss/variables.scss';

.root {
  position: relative;

  padding: 5px;

  width: 100%;

  border-radius: 5px;
  border: 1px solid #b7b7b7;

  background-color: #e8e8e8;

  cursor: pointer;

  &:hover {
    .settings {
      opacity: 1;
    }
  }

  .text {
    margin: 0;

    max-width: 100%;
    overflow: hidden;
  }

  .trigger {
    position: absolute;

    top: 3px;
    right: 3px;
  }

  .settings {
    width: 22.5px;
    height: 22.5px;

    border-radius: 50%;
    border: 1px solid #b7b7b7;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #808080;
    background-color: #e8e8e8;

    opacity: 0;

    transition-duration: .3s;
    transition-property: color, border-color, opacity;

    &:hover {
      color: #000;

      border-color: #000;
    }

    svg {
      width: 12.5px;
      height: 12.5px;
    }
  }
}
